.container_form {
  background-image: url('../../assets/img-form.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.container_button {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container_form_create {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(91, 0, 219, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 70rem;
  border-radius: 15px;
  border: 2px solid black;
}

.name {
  align-content: center;
  color: white;
  /* color: rgba(0, 0, 0, 0.534); */
  /* text-shadow: 1px 1px rgba(255, 255, 255, 0.15); */
  font-family: sans-serif;
  margin: 0px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 40px;
}

.title {
 
  color: white;
  /* text-shadow: 1px 1px rgba(255, 255, 255, 0.15); */
  font-family: sans-serif;
  margin: 0px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 20px;
}

.buttonD {
  --color-bg: #e44e55;
  --color-bg-light: #e47479;
  --color-bg-dark: #d13239;
  appearance: none;
  box-sizing: border-box;
  font-size: calc(var(--button-height) / 3);
  font-family: sans-serif;
  background: var(--color-bg);
  height: var(--button-height);
  min-width: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 1px 1px var(--color-text-shadow);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
  box-shadow: -1px -1px 1px var(--color-bg),
    0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark),
    inset 0 0 0 var(--color-overlay-dark),
    inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}

.homeb {
  --color-bg: #00a07d;
  --color-bg-light: #00af8a;
  --color-bg-dark: #008f70;
  appearance: none;
  box-sizing: border-box;
  font-size: calc(var(--button-height) / 3);
  font-family: sans-serif;
  background: var(--color-bg);
  height: var(--button-height);
  min-width: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 1px 1px var(--color-text-shadow);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
  box-shadow: -1px -1px 1px var(--color-bg),
    0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark),
    inset 0 0 0 var(--color-overlay-dark),
    inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}

.error {
  color: rgba(0, 0, 0, 0.534);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  margin: 0px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 10px;
}

input{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: .3 ease-in-out;
}

input:hover{
  border: 2px solid #45DBEB;
}
