:root {
  --color-bg: #7d878f;
}

.logo {
  height: 5.5rem;
  width: auto;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.2);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;

  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 2rem;
}


.logocont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create {
  width: 280px;
  appearance: none;
  box-sizing: border-box;
  font-size: calc(var(--button-height) / 3);
  font-family: sans-serif;
  background: var(--color-page-bg);
  height: var(--button-height);
  border-radius: 5rem;
  border: 0;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--color-text);
  cursor: pointer;
  letter-spacing: 0.5rem;
  transition:  .3s ease-in-out;
  
}

.create:hover{
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: black;
    border: 1.5px solid black;
    font-weight: 800;
}

.create:focus {
  outline: none;
  box-shadow: -1px -1px 1px var(--color-bg-dark),
    0 0 0 4px var(--color-tab-focus), 1px 1px 1px var(--color-bg-dark),
    inset 0 0 0 var(--color-overlay-dark),
    inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}
